/* Neumed text layout */

.prose-text {
  margin-bottom: 10px;
}

.stage-number {
  font-style: normal;
  padding-right: 8px;
}

.stage {
  font-style: italic;
}

.paragraph {
  display: inline-block;
  margin-block: 3px;
  break-inside: avoid;
}

.strophe, .refrain { margin-bottom: 24px; }

.lg-heading {
  margin-left: 30px;
}

.strophe .lg-heading, .head {
  font-weight: bold;
}

.refrain .lg-heading {
  font-style: italic;
}

.verse {
  display: block;
  position: relative;
}

.hemistich {
  display: inline-flex;
  gap: 8px;
}

.hemistich + .hemistich {
  margin-left: 20px;
}

.verse-number {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
  font-size: 13px;
  color: gray;
  text-align: right;
}

.verse-text, .rdg, .note, .wit {
  display: inline-flex;
  gap: 8px;
}

.verse-met, .verse-rhyme {
  font-size: 12px;
  position: absolute;
  bottom: 6px;
}

.verse-met { width: 60px; right: 30px; }

.verse-rhyme { width: 30px; right: 0; }

.wit {
  white-space: nowrap;
}

.word {
  display: inline-flex;
  white-space: nowrap;
  word-spacing: 0;
}

.word + .word {
  margin-left: 6px;
}

.neumed-syll {
  display: inline-flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
}

.neumes {
  display: inline-flex;
  align-items: flex-end;
  height: 24px;
}

.neume { scale: 0.8; }
.neume-small { scale: 0.6; }

.apparatus-in-text {
  position: relative;
  display: inline-flex;
  gap: 8px;
}

.apparatus-active {
  top: 1px;
  border-bottom: 1px dotted black;
}

.apparatus-note {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  margin-right: -290px;
  padding: 3px 10px;
  background: white;
  border: inset 3px;
  border-radius: 5px;
}

.apparatus-active:hover .apparatus-note {
  visibility: visible;
}

.border-red {
  border-color: red;
}

.border-blue {
  border-color: blue;
}

svg {
  width: 100%;
  height: auto;
  vertical-align: top;
  display: block;
}
