<!-- Harmonized template for SVG-based items -->

<div id="itemCoreView" class="item-specific">

  <!-- Button / tab bar -->
  <div class="tab">

    <button id="openSvg" class="item-specific tablinks activable" data-tab-target="svg" data-i18n="music"></button>

    <button id="openText" class="item-specific tablinks activable" data-tab-target="text" data-i18n="text"></button>

    <!-- Dropdown -->
    <div class="dropdown" style="margin-left:auto">
      <button id="dropBtn" class="item-specific">☰</button>

      <div class="dropdown-menu" style="right: 0;">
        <button id="toggleVersificationButton" class="item-specific toggleable">Versification</button>
        <button id="togglePunctuationButton" class="item-specific toggleable" data-i18n="originalPunctuation"></button>
        <button id="toggleCriticalApparatus" class="item-specific toggleable active" data-i18n="criticalApparatus"></button>
      </div>
    </div>

  </div>

  <!-- Tab content -->
  <div class="tabcontent">

    <div id="mainContainer" class="item-specific editorial">

      <div id="svg" class="item-specific"></div>

      <div id="text" class="item-specific hidden">
        <input type="text" id="searchInput" class="item-specific" placeholder="Search word...">

        <div id="formattedText" class="item-specific" style="font-size: 16px;"></div>

        <div id="apparatusText" class="item-specific no-break font-small">
          <hr />
        </div>
      </div>

    </div>

  </div>

</div>
