<!-- The template for text-based items (possibly with neumes) -->

<div id="itemCoreView" class="item-specific">

  <div id="buttonBar" class="tab cbo-white cbo-wide cbo-padding cbo-card">
    <button id="openFormattedText" class="item-specific tablinks cbo-bar-item cbo-button activable">Formatted</button>
    <button id="openContinuousText"class="item-specific tablinks cbo-bar-item cbo-button activable">Continuous</button>
    <div class="dropdown" style="z-index: 1200;">
      <button id="dropBtn" class="item-specific cbo-bar-item cbo-button"><i style="pointer-events: none;" class="fa fa-bars"></i></button>
      <div id="dropdownDiv" class="item-specific flex-column dropdown-content">
        <!-- {% if item.is_notated %} -->
        <button id="toggleNeumesButton" class="item-specific cbo-button toggleable active">Neumes</button>
        <!-- {% endif %} -->
        <button id="toggleSyllablesButton" class="item-specific cbo-button toggleable">Syllables</button>
        <button id="toggleMetricButton" class="item-specific cbo-button toggleable">Metrical analysis</button>
        <button id="toggleRhymeButton" class="item-specific cbo-button toggleable">Rhyme scheme</button>
        <button id="togglePunctuationButton" class="item-specific cbo-button toggleable">Original punctuation</button>
        <button id="toggleCriticalApparatus" class="item-specific cbo-button toggleable active">Critical apparatus</button>
      </div>
    </div>
  </div>

  <div class="tabcontent" style="display: block;">
    <div id="mainContainer" class="item-specific" style="height: 100%;">
      <input type="text" id="searchInput" class="item-specific" placeholder="Search word..." style="width: 95%;">
      <div id="formattedText" class="item-specific"></div>
      <div id="continuousText" class="item-specific"></div>
      <div id="apparatusText" class="item-specific no-break">
        <hr/>
      </div>
      <div id="apparatusNeume" class="item-specific no-break"></div>
    </div>
  </div>

</div>